// Navigation Styles here

header {
  display: flex;
  margin: 10px auto;
  width: 880px;
  align-content: center;

  nav {
    width: 880px;
    display: flex;
    justify-content: space-between;
    align-content: center;

    h1 {
      display: flex;
      width: 90%;
    }
    a {
      align-content: center;
      margin: 10px 10px;
      width: 60px;
      text-decoration: none;
      color: black;
      
    }
  }
}
